body{
  padding:0px;
 margin:0px;


 
}
/* Navbar section */
.navbar{
  background-color: white;
  
}
 .navbar-nav{
margin-left: auto;
 font-weight: 500;
 }
 .brand{
font-family:'Times New Roman', Times, serif;
}

 /* Section-1 */
 .Main-Section{
   width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
 }
.section-1{
  background-image: url("./images/wallpaper.jpg");
   background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Keeps the image centered */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
 min-height: 75vh;
    width: 100%;
color: white ;
}
 
   
.section-1 h1{
  font-size: 2rem;
  font-weight: bolder;
  font-family:cursive;
}
.section-1 p{
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#swiper-container-wrapper{
  max-width: 500px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#swiper-container-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}
#menDetails h1{
  font-size: 0.8rem;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* SECTION-2 */
.section-2{
margin:25px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
}
.menSection{
  background: url("./images/girl2.jpg");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Keeps the image centered */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
 min-height: 75vh;
 width: 100%;
}
/* 
Section-3 */

.section-3{
 width: 100%;

 
}
.section-3 img{
  width: 100%;
  display: block;
  border-radius: 15px;
  max-width: 100%;
  height:auto;
}

.section-3 img:hover{
   filter: grayscale(50%);
  transform: scale(0.9);
  transition:3s;
}
.section-3 h2{
font-size: 1rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: light;
}
.section-3 button{
  border-radius: 15px;
   
}
.section3-sub{
  text-align: center;
}

.owl-carousel img{
  height: 20vh;
  width: 100%;
}

/* BRANDS */

#brands img{
  width: 10vh;
  margin:auto; 
 color: black;
}



.section-1
.col a :hover{
  cursor: pointer;
}
 #content .card{
  margin: 15px;
  }
  #content img{
width: 100%;
height:50vh ;
}

.newMarket h1{
 font-size: 1.2rem;
 color: rgb(128, 9, 9);
}
.newMarket h2{
  font-size: 1rem;
  font-weight: 500;
}
.newMarket p{
  font-size: 0.8rem;
}
/* Section-Nike */
.section-items{
   width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}
.Nike img:hover{
   filter: grayscale(50%);
  transform: scale(0.9);
  transition:3s;
}
.section-items button{
  width: 15vh;
 
}


/*WOMEN SECTION */



/* BESTSELLERS SECTION */

#men-seller img{
  width: 100%;
  height: auto;
}

#BestSneakers img{
width: 100%;
height: auto;
margin: 1rem;
}

.bestseller{
   width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}
/* FAQ SECTION */
#benefits{
  
  border-radius: 30px;
 
}
#benefits h2{
font-size: 1.3rem;
}
#benefits p{
font-size: 1rem;
}

/* JOIN NOW SECTION */

.form{
   justify-content: center;
    display: flex;
    align-items: center;
    margin: 15px;
    
   }
   
  form .input-box{
    margin-top: 20px;
   
  }
  .box .field{
    width: 100%;
    height: 40px;
   
    padding: 15px;
    font-size: 20px;
  
  }
  form label{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .form-check label{
    font-size: medium;
    font-weight: 500;
  }

.registration{
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
}
/* LADIESDRESS SECTION */
#ladies img{
  height: auto;
  max-width: 500px;
 display: block;
 width: 100%;
}

#ladies h1{
  font-size: 1rem;
  font-style: italic;
  color: rgb(241, 55, 55);
}
#ladies h2{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:550 ;
}
.original-price{
 
 text-decoration: line-through;
 color: grey;
 margin-right: 10px;
}
.discounted-price{
  color: red;
  font-weight: bold;
}

/* Women special section */
.section-women{
background-image: url("./images/womenwall.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
min-height: 75vh;
    width: 100%;
}


.section-women h1{
  font-size: 2rem;
  font-weight: bolder;
  font-family:cursive;

}
.section-women p{
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:skyblue;
  
  color: white;
  border-radius: 0;
  border-radius: 5px;
}
.card-img-top{
  object-fit: cover;
  height: auto;
}


/* WRISTWATCH section */
#wrist{
  width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}
#wrist img{
 
max-width: 100%;
 position: relative;
 
}
#best-watch{
  width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
#best-watch img :hover{
    filter: grayscale(50%);
  transform: scale(0.9);
  transition:3s;
}
#best-watch img{
 width: 100%;
 height: auto;
 border-radius: 5px;
}

#best-watch h1{
  font-size: 1.1rem;
  font-weight: 400;
}
#best-watch p{
 display: inline-block;
 background-color: skyblue;
 padding: 2px 6px;
 border-radius: 15px;
}

.head-watch{
  background-color: rgb(250, 246, 240);
 width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}
.head-watch img{
  width: 100%;
 
 
}
.circle p{
  font-size: 1.1rem;
  font-weight: 400;
}
.circle img{
  width: 40vw;
  margin: 45px;
  padding: 10px;
  border-radius: 50%;
  height: 40vw;
  position: relative;
  animation: rotate 40s linear infinite;
}
@keyframes  rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* CONTACTUS SECTION */
  .contactUs{
   justify-content: center;
    display: flex;
    align-items: center;
    margin: 15px;
    
  }

  
.contactUs input{
   width: 100%;
    height: 5vh;
  padding: 15px;
   border-radius:5px
}
.contactUs textarea{
  width:100%;
 border-radius:5px
}

#formUs{
   width: 100%;
 max-width: 100%;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}
/* FAQ */
.accordion-item button{
  font-size:1rem;
  font-weight: bolder;
}
.accordion-body{
    font-size:0.8rem;
}
/* TERMS OF POLICY SECTION */
#terms h1{
  text-align:center;
  font-size:1.5rem;
  color:rgba(146, 150, 150, 1);
}

#terms h2{
 
  font-size:1rem;
  color:rgba(146, 150, 150, 1);
}
#terms p{
  
  font-size:0.8rem;
 
}
#terms-two h1{
  font-size:1rem;
  color:rgba(146, 150, 150, 1);
}
#terms-two p{
  
  font-size:0.8rem;
 
}
/* FOOTER SECTION */
.footer-contact{
  color: black;
 font-weight: 500;
}
.footer{
background-color:rgb(241, 239, 239);

flex-direction: column;
 padding: 1.5rem 2rem;
 min-height: 60px;
 height: auto;
 box-sizing: border-box;
 max-height: auto;
}    


    


